 .u-section-1 {
  background-image: url("images/72eca10f040913c6e4b52bb81541680fc1bbbc7f896faca3cdc8cb521602d7ef48faf3b80eff9e56723bb1d2d88336b411bf01a99e31cce8f3e77f_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1334px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 100px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1134px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 700;
  margin: 0 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 27px 20px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-style: normal;
  line-height: 1.6;
  margin: 57px 90px 0 149px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1047px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 892px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: 691px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1464px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1226px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 41px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 21px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    width: 500px;
    margin-top: 62px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1527px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
    margin-left: 1px;
    margin-right: 1px;
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    font-size: 1rem;
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1384px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1184px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 36px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-size: 0.875rem;
    margin-top: 43px;
    margin-left: 10px;
    margin-right: 10px;
  }
}